<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vote NOW!!!</title>

    <!-- Bootstrap CSS (Online version for demonstration purposes) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background: url(/images/main-background-with-logo.png) no-repeat center center fixed;

        }
    </style>
</head>

<body>
<th:block th:replace="~{fragments/navbar}"></th:block>

<br>
<br>
<br>
<br>
<div class="text-center">
    <div class="card rounded-5 mx-auto" style="width: 1100px; background-color: rgba(245, 245, 245, 0.5)">
        <h1 class="display-4"><strong>Welcome to PlayTray</strong></h1>
        <h1 class="display-4"><strong
                sec:authorize="isAuthenticated()"
                sec:authentication="name"></strong></h1>
        <br>
        <p class="lead">
        <h4>Your ultimate destination for games, consoles, and accessories for PS5, PS4, XBOX, Switch, and
            PC.</h4></p>
    </div>
</div>
<br>
<br>
<br>
<br>
<!-- Three Latest Product Cards -->
<div class="container">
    <div class="row justify-content-center">
        <!-- Card for Latest Game -->
        <div class="col-sm-3">
            <div class="card">
                <img th:src="${game.imageUrl}" class="card-img-top img-fluid" style="height: 250px" alt="Latest Game">
                <div class="card-body" style="height: 120px;">
                    <h6 class="card-title"
                        th:text="${game.name} +  ', ' + ${game.platform}">Latest Game</h6>
                    <h6 class="card-title"
                        th:text="'€' + ${game.price}"></h6>
                    <a th:href="@{/products/games/{id}(id=${game.id})}"
                       class="btn text-white"
                       style="background-color: #755bb4">View Details</a>
                </div>
            </div>
        </div>

        <!-- Card for Latest Console -->
        <div class="col-sm-3">
            <div class="card">
                <img th:src="${console.imageUrl}" class="card-img-top img-fluid" style="height: 250px"
                     alt="Latest Console">
                <div class="card-body" style="height: 120px">
                    <h6 class="card-title"
                        th:text="${console.name} +  ', ' + ${console.platform}">Latest Game</h6>
                    <h6 class="card-title"
                        th:text="'€' + ${console.price}"></h6>
                    <a th:href="@{/products/consoles/{id}(id=${console.id})}"
                       class="btn text-white"
                       style="background-color: #755bb4">View Details</a>
                </div>
            </div>
        </div>

        <!-- Card for Latest Accessory -->
        <div class="col-sm-3">
            <div class="card">
                <img th:src="${accessory.imageUrl}" class="card-img-top img-fluid" style="height: 250px"
                     alt="Latest Accessory">
                <div class="card-body" style="height: 120px">
                    <h6 class="card-title"
                        th:text="${accessory.name} +  ', ' + ${accessory.platform}">Latest Game</h6>
                    <h6 class="card-title"
                        th:text="'€' + ${accessory.price}"></h6>
                    <a th:href="@{/products/accessories/{id}(id=${accessory.id})}"
                       class="btn text-white"
                       style="background-color: #755bb4">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<!-- Bootstrap JS (Optional, for certain components) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
</footer>
</body>

</html>
