<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
<th:block th:replace="~{fragments/navbar}"></th:block>

<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">

                <div class="px-5 ms-xl-4">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    <span class="h1 fw-bold mb-0"></span>
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form style="width: 23rem;"
                          th:method="POST"
                          th:action="@{/login}">

                        <h3 class="fw-normal mb-3 pb-3"
                            style="letter-spacing: 1px;">Log in</h3>

                        <div class="form-outline mb-4">
                            <input
                                    type="text"
                                    id="username"
                                    name="username"
                                    class="form-control form-control-lg"
                                    placeholder="Username"/>

                            <label class="form-label"
                                   for="username"></label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control form-control-lg"
                                   placeholder="Password"/>

                            <label class="form-label"
                                   for="password"></label>

                            <p th:if="${bad_credentials}" class="errors alert alert-warning">
                                Invalid username or password.
                            </p>
                        </div>

                        <!-- Checkbox -->
                        <!--                        <div class="d-flex justify-content-between align-items-center">-->
                        <!--                            <div class="form-check mb-2">-->
                        <!--                                <input class="form-check-input me-2"-->
                        <!--                                       type="checkbox"-->
                        <!--                                       value=""-->
                        <!--                                       id="rememberme"-->
                        <!--                                       name="rememberme"/>-->

                        <!--                                <label class="form-check-label"-->
                        <!--                                       for="rememberme">-->
                        <!--                                    Remember me-->
                        <!--                                </label>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <div class="pt-1 mb-4">
                            <button class="btn text-white btn-lg btn-block"
                                    style="background-color: #755bb4"
                                    type="submit">Login
                            </button>
                        </div>

                        <p>Don't have an account?
                            <a th:href="@{/register}"
                               class="btn-link"
                               type="button"
                               style="color: #755bb4">Register here
                            </a>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
</footer>
</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous">
</script>
</html>